
html {
  font-size: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

body {
  background: var(--bg-primary);
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background: var(--bg-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  height: 80px;
  width: 100%;
  max-width: var(--width-medium);
  margin: 0 auto;
  padding: 1rem 2rem;
}

.navbar .nav-menu {
  display: flex;
  align-items: center;
  background: var(--bg-primary);
}

.navbar .nav-link {
  margin: 0 1rem;
  font-size: 0.8rem;
  font-weight: var(--weight-semibold);
}

.navbar #logo img {
  display: block;
  width: 40px;
}

.navbar .btn {
  margin-right: 1.5rem;
}

.fas.fa-arrow-right {
  margin-left: 0.5rem;
  font-size: 0.9rem;
}

/* Projects */
#skills {
  display: flex;
  flex-direction: column;
  margin: 2rem auto 5rem;
}

#skills .btn {
  align-self: center;
  margin: 2rem 0;
}

.content-text {
    padding-top: 50px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-img {
  width: 20%;
}

.description {
  width: 60%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.level , #html-level, #css-level, #js-level, #communication-level, #python-level{
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(129, 129, 129);
  height: 20px;
  width: 90%;
  border-radius: 20px;
  overflow: hidden;
}
#html-level, #css-level, #js-level, #communication-level, #python-level {
  background-color: rgb(75, 75, 75);
  border: none;
}

#html-level { width: 70%; } #css-level { width: 70%; } #js-level { width: 70%; } 
#communication-level { width: 50%; } #python-level { width: 90%; } 

.card {
  width: 40%;
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card:nth-child(1) {
  margin-right: 20%;
}
.card:nth-child(2) {
  margin-left: 20%;
}
.card:nth-child(3) {
  margin-right: 20%;
}
.card:nth-child(4) {
  margin-left: 20%;
}
.card:nth-child(5) {
  margin-right: 20%;
}
.card:nth-child(6) {
  margin-left: 20%;
}
.card:nth-child(7) {
  margin-right: 20%;
}



/* Footer */
#footer {
  background: #111111;
}

#footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  min-height: 100px;
  text-align: center;
}

#footer a {
  font-size: 0.8rem;
  color: #fff;
}

#footer p {
  font-size: 0.8rem;
}



@media (max-width: 1000px) {
  .project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .project {
    display: grid;
    grid-template-columns: 1fr;
  }

  .header-container .btn {
    border-radius: 5px;
    width: 80%;
  }
}
